.card {
  display: flex;
  margin: 0 0.8rem 1rem;
  width: 17rem;
  height: 21rem;
}

.card-item {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: rgb(206, 206, 206);
  flex-direction: column;
  flex-wrap: wrap;
  align-content:space-between;

}


.card__preco {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  justify-content: right;
  align-items: flex-end;
  font-weight: 600;
  color: rgb(24, 82, 207);
} 
.card-preco {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: rgb(24, 82, 207);
}


.card-image img {
  width: 17rem;
  height: 11rem;
  border-radius: 0.4rem;
}

.card-title {
  display: flex;
  padding: 0.5rem 0;
  font-size: 1.2em;
  inline-size: 15rem;
  overflow-wrap: break-word;
}

.card__title {
  display: flex;
  overflow-wrap: break-word;

}

.wishlist {
  color: #e60013;
  font-size: 1.4em;
  padding: 0.5rem 0;
  display: flex;
  border: none;
  background-color: #fff;
}

.wishlist:hover {
  cursor: pointer;
}