.search {
  background-color: #181818;
  padding: 4rem 10rem 1rem 14rem;
  display: flex;
  align-items: top;
  justify-content:left;
  flex-direction: row;
  overflow: hidden;
}

.procurar{
  display: flex;
  text-decoration: none;
  height: 3.5rem;
  justify-content:left;
  align-items: center;
}

.navbar__procurar{
  display: flex;
  text-decoration: none;
  margin-left: 5rem;
}

.navbar__procurar ul li{
  display: flex;
  text-decoration: none;
}

.search span {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0 1rem;
}

.search-input {
  background-color: #fff;
  box-sizing: border-box;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.type {
  margin: 0 0.5rem;
  padding: 0.5rem;
  font-size: 1em;
  border: none;
}

.btn {

  width: 0rem;
  height: 0rem;

  font-size: 0em;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #a5abb65b;
  transition: all 200ms ease;
}